<div class="container" ng-controller="MainController as main">
  <div>
    <nav class="navbar">
      <a>Searchify</a>
    </nav>
  </div>
  <div class="jumbotron">
      <h2>So I heard you like albums? Let's find some.</h2>
      <input type="text" placeholder="Search an Album..." ng-model="main.searchQuery">
      <!-- Fix this hackish br later --><br>
      <button class="btn" type="submit">Search Albums</button>
    </div>
  <main>
    <h2>Search for:  {{ main.searchQuery }}</h2>
    <div class="result-tile" ng-repeat="album in main.albumList.albums.items">
      <a ng-ref="{{ album.external_urls.spotify }}">
        <img ng-src="{{ album.images[1].url }}" alt="{{ album.name }}">
        <p>{{ album.name }}</p>
      </a>
    </div>
  </main>
</div>
