.browsehappy {
    margin: 0.2em 0;
    background: $brand-grey;
    color: white;
    padding: 0.2em 0;
}

html,
body {
    color: white;
    font-family: "Montserrat", 400;
}

body {
    background-color: $brand-grey-dark;
    margin: 0;
}

h2 {
    margin: 10px 0;
}

a {
    text-decoration: none;
}

main {
    margin: 0 9%;
    text-align: center;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

.navbar {
    background-color: $brand-grey;
    border-bottom: 2px solid $brand-green-dark;
    position: relative;
    min-height: 50px;
    margin-bottom: 0;

    & > a {
        float: left;
        color: $brand-green;
        padding: 15px;
        font-size: 18px;
        line-height: 20px;
        height: 50px;
        text-shadow: 3px 3px 0 rgba(0, 0, 0, .5), -1px -1px 0 rgba(0, 0, 0, .5), 1px -1px 0 rgba(0, 0, 0, .5), -1px 1px 0 rgba(0, 0, 0, .5), 1px 1px 0 rgba(0, 0, 0, .5);
    }

    ul {
        float: right;
        padding: 18px 5px;
        margin: 0;

        li {
            float: left;
            position: relative;
            display: block;

            a {
                color: white;
                position: relative;
                display: block;
                padding: 15px;
                line-height: 20px;
            }

            &.active a {
                background-color: black;
            }
        }
    }
}

.jumbotron {
    @include text-shadow;
    color: white;
    background: url(/assets/images/crowd.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 80%;
    padding: 100px 60px;
    margin-bottom: 30px;
    background-color: $brand-grey;
    border-radius: 6px;
    text-align: center;

    input[type="text"] {
        font-family: "Montserrat", 400;
        margin: 20px 0;
        padding: 10px;
        border: solid 2px $brand-grey;
        border-radius: 5px;
        box-shadow: inset 1px 1px 2px 0 #707070;
        transition: box-shadow .3s, border .3s;
        width: 50%;
    }

    input[type="text"]:focus,
    input[type="text"].focus {
        border: 2px solid $brand-green;
        box-shadow: inset 1px 1px 2px 0 #c9c9c9;
    }
}

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 3px solid white;
    color: white;
    background-color: transparent;
    font-family: inherit;
    margin: 0;
    padding: 5px 33px;
    font-size: 18px;
    border-radius: 30px;
    transition: background-color .3s;
}

.btn:hover {
    background-color: rgba(255, 255, 255, .25);
}

.pull-right {
    float: right;
}

hr {
    clear: both;
}

.result-tile {
    border: 2px solid transparent;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    width: 19%;
    height: auto;
    transition: border .3s;

    img {
        width: 100%;
    }

    p {
        @include text-shadow;
        color: white;
        padding-left: 5px;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.result-tile:hover {
    border: 2px solid $brand-green;
}

.result-tile:before {
    content: " ";
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 54%, rgba(0, 0, 0, 1) 82%, rgba(0, 0, 0, 1) 100%);
    opacity: .5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}