.browsehappy {
  background: $brand-grey;
  color: white;
  margin: .2em 0;
  padding: .2em 0;
}

::selection {
  background: $brand-green-light;
}

::-moz-selection {
  background: $brand-green-light;
}

@font-face {
    font-family: "Montserrat";
    src: url(/assets/fonts/Montserrat-Regular.ttf);
}

html,
body {
  color: white;
  font-family: "Montserrat";
}

body {
  background-color: $brand-grey-dark;
  margin: 0;
}

h2 {
  margin: 10px 0;
}

a {
  text-decoration: none;
}

main {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  width: 100%;
}

.navbar {
  background-color: $brand-grey;
  border-bottom: $green-line;
  margin-bottom: 0;
  min-height: 50px;
  position: relative;

  & > a {
    @include text-shadow;
    color: $brand-green;
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    padding: 15px;
  }

  ul {
    float: right;
    margin: 0;
    padding: 18px 5px;

    li {
      display: block;
      float: left;
      position: relative;

      a {
        color: white;
        display: block;
        line-height: 20px;
        padding: 15px;
        position: relative;
      }

      &.active a {
        background-color: black;
      }
    }
  }
}

.jumbotron {
  @include text-shadow;
  background: url(/assets/images/crowd.jpg) no-repeat;
  background-color: $brand-grey;
  background-position: 50% 80%;
  background-size: cover;
  border-bottom: $green-line;
  color: white;
  margin-bottom: 10px;
  padding: 40px 60px 140px;
  text-align: center;

  input[type="text"] {
    background: rgba(0, 0, 0, .6);
    border: solid 2px white;
    border-radius: 5px;
    color: white;
    font-family: "Montserrat";
    margin: 20px 0;
    padding: 10px;
    transition: border .3s;
    width: 50%;
  }

  input[type="text"]:focus,
  input[type="text"].focus {
    border: $green-line;
  }
}

select {
  appearance: none;
  background: rgba(0, 0, 0, .6);
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-family: "Montserrat";
  font-size: 14px;
  margin: 35px 5px;
  padding: 8px 28px 8px 33px;
  transition: border .3s;
  width: 130px;
}

select:focus,
select.focus {
  border: $green-line;
}

.btn {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 18px;
  margin: 0;
  padding: 5px 33px;
  text-align: center;
  transition: background-color .3s, color .2s, border .2s;
  vertical-align: middle;
}

.btn:hover {
  background-color: rgba(255, 255, 255, .25);
}

.btn:focus {
  outline: 0;
}

.btn:active {
  border: $green-line;
  color: $brand-green;
}

.grid {
  margin: 0 9%;
  text-align: center;

  h2 {
    margin-bottom: 20px;
  }
}

.result-tile {
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-name: loadIn;
  animation-timing-function: ease-out;
  border: 2px solid transparent;
  box-shadow: 2px 2px 5px 0 black;
  display: inline-block;
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;
  width: 19%;
  transition: border .3s;

  img {
    width: 100%;
  }

  p {
    @include text-shadow;
    bottom: 0;
    color: white;
    left: 0;
    padding-left: 5px;
    position: absolute;
    text-align: left;

    small {
      clear: left;
      display: block;
    }
  }
}

.result-tile:hover {
  border: $green-line;
}

.result-tile:before {
  content: " ";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 54%, rgba(0, 0, 0, 1) 82%, rgba(0, 0, 0, 1) 100%);
  height: 100%;
  left: 0;
  opacity: .5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

#konami {
  background: url(/assets/images/konami.gif) no-repeat;
  background-size: contain;
  display: none;
  content: "";
  height: 200px;
  left: 30px;
  position: absolute;
  top: 75px;
  width: 70%;
}

@keyframes loadIn {
  0% {
    filter: opacity(0);
    transform: translateY(40px);
  }
  100% {
    filter: opacity(1);
    transform: translateY(0);
  }
}
