$brand-grey: #2e2f33;
$brand-grey-dark: #262626;
$brand-green: #1ed760;
$brand-green-dark: #2ebd59;
$brand-green-light: #63f597;

$shadow-grey-light: #c9c9c9;
$shadow-grey-dark: #707070;

$green-line: 2px solid $brand-green;